.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10%;
  cursor: pointer;
  -webkit-box-shadow: -12px 21px 6px 2px rgba(196, 188, 196, 1);
  -moz-box-shadow: -12px 21px 6px 2px rgba(196, 188, 196, 1);
  box-shadow: -12px 21px 6px 2px rgba(196, 188, 196, 1);
}

.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 30px;
  font-weight: bold;
}

.featuredMoneyRate {
  align-items: center;
  margin-left: 25px;
}

.featuredIcon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 15px;
  color: grey;
}
